@model PagedList.IPagedList<Repository.Models.Announcement>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "My Announcements List - metatitle to 60 characters";
    ViewBag.Description = "My Announcements List with our application - metadescription to 160 characters";
    ViewBag.KeyWords = "My,Announcements, List, words, key, application";
}

<h1 style="text-align:center"> My Announcements List</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New Announcement", "Create", null, new { @class = "btn btn-primary" })
    </p>
}
<br />
@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("searchData", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("UserId", "Index", new { sortOrder = ViewBag.IdSort })
        </th>
        <th>
            @Html.ActionLink("Content", "Index", new { sortOrder = ViewBag.ContentSort })
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSort })
        </th>
        <th>
            @Html.ActionLink("DataOfAdd", "Index", new { sortOrder = ViewBag.DateOfAddSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAdd)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" })

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Pracownik"))
                {
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    if (User.IsInRole("Admin"))
                    {
                        <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    }
                }
            </td>
        </tr>
    }
</table>

<div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) with @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("MyAnnnouncements", new { page, sortOrder = ViewBag.CurrentSort, FilterValue = ViewBag.FilterValue }))
</div>

